# Build directories.
bin/
bin-int/

# Allow bin inside vendor.
!vendor/bin/

# VS settings.
.vs/
.cache/

# C++ formatting files.
.clang-format
Makefile
compile_commands.json
gen_cc.sh
heaptrack*



# VS project files.
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
~AutoRecover*